
.hero {
  padding-top: 240px;
  width: 100%;
  padding-bottom: 60px;
  .hero-info {
    padding-top: 60px;

    p {
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }

  .hero-image {
    max-width: 570px;
    height: auto;
    float: right;
  }
}

