@media screen and (max-width: 1080px) {
  .hero {
    padding-top: 140px;

    .hero-info {
      padding-top: 0px;
    }

    .hero-image {
      float: none;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 990px) {
  #about {
    text-align: center;
  }
  #blog {
    text-align: center;
  }
  .contact__social {
    text-align: center;
    width: 100%;
    img {
      margin: 0 auto;
    }
  }
  .hero {
    .hero-info {
      text-align: center;
    }
  }
  .big__title {
      width: 100%;
      text-align: center;
    }
}

@media screen and (max-width: 767px) {
  #portfolio {
    .portfolio__nav {
      ul {
        justify-content: center;
        li {
          font-size: 8px;
        }
      }
    }
    .portfolio__filter {
      justify-content: center;
      max-width: 200px;
      margin: 30px auto;
      float: none;
    }
  }
}

@media screen and (max-width: 720px) {
  .Navbar {
    .mobile__menu {
      display: block;
    }
    .desktop__menu {
      display: none;
    }
  }
  .mobile__navbar {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        padding-bottom: 30px;
      }
      
    }
    .back-to-top {
      display: flex;
      justify-content: center;
      align-items: center;
      float: none;
      flex-direction: row;

      img {
        padding-bottom: 0px;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .mobile__navbar {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #portfolio {
    .portfolio__nav {
      ul {
        li {
          padding: 5px 5px;
          margin-right: 5px;
        }
      }
    }
  }
  .big__title {
      h2 {
        font-size: 4rem;
      }
    }
}

@media only screen and (max-width: 360px) {
  .modal {
    div {
      .error__modal {
        padding: 20px;
        p {
          &:nth-child(3) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
